html
{
    width: 100%;
    height: 100%;
    position: absolute;
}

body
{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Segoe UI, Arial, Georgia;
}

select
{
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #bdbdbd;
    font-family: Segoe UI, Arial, Georgia;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 0 0.5em 0;
    text-align: center;
    font-weight: lighter;
    font-size: 0.8em;
    color: #a0a0a0;
}

.message
{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
}

.loading
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    text-align: center;
    font-weight: lighter;
}

.loading img
{
    height: 100%;
}

.wrongword
{
    color: red;
    text-decoration: underline;
}

#checkedtext
{
    position: absolute;
    top: 0;
    bottom: 1.5em;
    width: 100%;
    font-weight: lighter;
    overflow: auto;
}